@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

html, body {
	height: 100%;
}

* {
	font-family: 'Roboto Condensed', sans-serif;
}

html, body, form, p, h1, input, button, area, object, a, section, ul, li {
	display: block;
}

body, form{
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	background-color: #00FF00;
  background-image: -webkit-gradient(linear, left top, right top, from(#4A021A), to(#E80000));
  background-image: -webkit-linear-gradient(bottom, #4A021A, #E80000);
  background-image: -moz-linear-gradient(bottom, #4A021A, #E80000);
  background-image: -o-linear-gradient(bottom, #4A021A, #E80000);
  background-image: linear-gradient(to bottom, #4A021A, #E80000);
}

h1 {
	font-size: 30px;
	text-align: center;
}

#bg-tint {
	height: 200px;
	width: 100%;
}

#tint-change-container, #weather-container, #posts {
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	background-color: #FF0000;
  background-image: -webkit-gradient(linear, left top, right top, from(#F7CC20), to(#79F2BC));
  background-image: -webkit-linear-gradient(bottom, #F7CC20, #79F2BC);
  background-image: -moz-linear-gradient(bottom, #F7CC20, #79F2BC);
  background-image: -o-linear-gradient(bottom, #F7CC20, #79F2BC);
  background-image: linear-gradient(to bottom, #F7CC20, #79F2BC);
}

#posts {
	overflow: auto;
}

#weather-container > a {
	padding: 10px;
	margin: 10px auto;
	border-radius: 15px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	background-color: #00FF00;
  background-image: -webkit-gradient(linear, left top, right top, from(#4A021A), to(#E80000));
  background-image: -webkit-linear-gradient(bottom, #4A021A, #E80000);
  background-image: -moz-linear-gradient(bottom, #4A021A, #E80000);
  background-image: -o-linear-gradient(bottom, #4A021A, #E80000);
  background-image: linear-gradient(to bottom, #4A021A, #E80000);
}

#weather-container > a:hover {
	color: #45F59D;
}